body {
    margin: 0;
}

#drawing {
    width: 100%;
    height: 100%;
}

svg {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.selection {
    fill: transparent;
}
.selection.active {
    stroke: #88f;
}

#mainTime {
    text-align: center;
    font-family: monospace;
    font-size: 3em;
    margin: 1em 0 0 0;
}
#mainTime.overtime {
    color: red;
}

#mainOfTime {
    text-align: center;
}

#activeTopic {
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    margin: 0.5em 0;
}

.topic-item {
    border-left: 2px solid;
    padding-left: 4px;
}
.topic-item.active {
    text-decoration: underline;
}