* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #46474c;
    color: #eee
}

body, input, button {
    font-family: 'Raleway';
}

input, button {
    outline: none;
}

h2 {
    margin: 0.6em 0 0.2em 0;
}

.v_root {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.c_input-text {
    font-size: 1em;
    padding: 0.2em 0.4em;
}
.c_input-text.c_input-text-rounded {
    border-radius: 2em;
    padding: 0.2em 0.6em;
}

.c_input-button {
    background: #555;
    color: #ddd;
    font-size: 1em;
    padding: 0.2em 0.4em;
    margin: 0.4em 0;
}

.c_input-text, .c_input-button {
    border: 1px solid #ddd;
}

/* start */

.v_start {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.v_start .c_input-text {
    width: 100%;
}

.v_start .c_input-button {
    width: 100%;
}

/* start end */

/* meet */

.c_meet-top {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.8em;
    width: 100%;
    padding: 2px 15px;

    display: flex;
    justify-content: space-between;
}

.c_meet-bottom {
    max-height: 12em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-top: 1px solid #666;
}

.c_meet-bottom__controls {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2em 0.8em;
}

.c_meet-bottom__controls .c_input-text {
    flex: 1;
    margin-right: 10px;
}

.c_meet-bottom__content {
    overflow-y: auto;
    padding: 0 0.8em;
}

.c_meet-bottom__controls,
.c_meet-bottom__content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* meet menu */

[meet-menu] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    transform: translate(110%,0);
    transition: 0.3s ease-out;
}

[meet-menu].open {
    transform: translate(0,0);
}

.meet-menu__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 15px 30px;
    background: #26272c;
    box-shadow: -2px 0 8px 0 rgba(0,0,0,0.3);
}

.meet-menu__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* meet menu end */

/* meet end */

#drawing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 500px;
    flex: 1;
}

svg {
    display: block;
    width: auto;
    height: 100%;
    max-width: 100%;
}

svg text {
    font-size: 5px;
    fill: #ddd;
}

.circle-root {
    fill: transparent;
    stroke: #ddd;
}

.selection {
    fill: transparent;
    z-index: 100;
}
.selection.active {
    /* fill: rgba(200,200,256,0.2); */
    stroke: #88f;
}

#mainTime {
    text-align: center;
    font-family: monospace;
    font-size: 3em;
    margin: 0.2em 0 0 0;
}
#mainTime.overtime {
    color: red;
}

#mainOfTime {
    text-align: center;
}

#activeTopic {
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    margin: 0.5em 0;
}

.topic-item {
    border-radius: 0.2em;
}
.topic-item.active {
    background-color: rgba(200,200,255,0.3);
}

.topic-item__abbr {
    display: inline-block;
    min-width: 1.6em;
    padding: 0.1em 0.2em;
    margin-right: 0.3em;
    text-align: center;
}

/* topic bar */

[topic-bar] {
    position: relative;
}

.topic-bar__bar {
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 4px;
    background: #ddd;
}

/* topic bar end */