* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #46474c;
    color: #eee
}

body, input, button {
    font-family: 'Raleway';
}

.v_root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.c_input-text {
    font-size: 1em;
    padding: 0.2em 0.4em;
}

.c_input-button {
    background: #555;
    color: #ddd;
    font-size: 1em;
    padding: 0.2em 0.4em;
    margin: 0.4em 0;
}

.c_input-text, .c_input-button {
    border: 1px solid #ddd;
}

/* start */

.v_start {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.v_start .c_input-text {
    width: 100%;
}

.v_start .c_input-button {
    float: right;
    width: 100%;
}

/* start end */

/* meet */

.c_meet-top {
    position: absolute;
    left: 20px;
    top: 0;
    font-size: 0.8em;
}

.c_meet-bottom {
    max-height: 24vh;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.c_meet-bottom__controls {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.c_meet-bottom__controls .c_input-text {
    flex: 1;
    margin-right: 10px;
}

.c_meet-bottom__content {
    overflow-y: auto;
}

/* meet end */

#drawing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 500px;
    flex: 1;
}

svg {
    display: block;
    width: auto;
    height: 100%;
    max-width: 100%;
}

.circle-root {
    fill: transparent;
    stroke: #ddd;
}

.selection {
    fill: transparent;
    z-index: 100;
}
.selection.active {
    /* fill: rgba(200,200,256,0.2); */
    stroke: #88f;
}

#mainTime {
    text-align: center;
    font-family: monospace;
    font-size: 3em;
    margin: 0.2em 0 0 0;
}
#mainTime.overtime {
    color: red;
}

#mainOfTime {
    text-align: center;
}

#activeTopic {
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    margin: 0.5em 0;
}

.topic-item {
    border-left: 2px solid;
    padding-left: 4px;
}
.topic-item.active {
    text-decoration: underline;
}

/* topic bar */

[topic-bar] {
    position: relative;
}

.topic-bar__bar {
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 4px;
    background: #ddd;
}

/* topic bar end */